html { font-family: sans-serif; }

html { background-color: #505058; }
body { background-color: #f0f0f0; }

body {
	max-width: 64em;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 1em;
}

#title {
	display: block;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	font-size: x-large;
	background: linear-gradient(#223 0%, #383840 20%, #444 50%, #403838 80%, #322 100%);
	color: #f0f0f0;
	text-transform: uppercase;
	font-style: italic;
	text-shadow: 1px 1px 1px black;
	padding: 0.2em 0;
}

.backlinks { font-size: small; display: flex; justify-content: space-between; margin: 0.4em }

section { padding: 0.5em; }

figure { margin: 0.1em }
figcaption { text-align: center; margin-top: 0.2em }
.inline { display: inline-block; }

table { border-collapse: collapse; margin-left: auto; margin-right: auto; }
th, td { padding: 5px; border: 1px solid gray; width: 10em }
th { background-color: #e0e0e0; }
table ul { margin: 0; padding: 0; }
table ul > li { display: block; }

p, ul { margin-left: 2em; margin-right: 2em; }
textarea { width: 100%; }

h1 {
	padding-left: 1em;
	border: 1px solid #888;
	background-color: #aaa;
	margin: 1em 0;
	margin-top: 0.2em;
}

h2 {
	padding-left: 1em;
	border: 1px solid #999;
	background-color: #bbb;
	margin: 0.8em 0;
}

h3 {
	padding-left: 1em;
	border: 1px solid #aaa;
	background-color: #ccc;
	margin: 0.6em 0;
}

h4 {
	margin: 0.4em 0;
}

h5 {
	margin: 0.2em 0;
}

a.type-icon {
	display: inline-block;
	padding: 2px 5px;
	margin: 1px;
	border-radius: 5px;
	border: 1px solid black;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: small;
	font-weight: bold;
	text-shadow: 1px 1px 1px black;
}

.grass-type-color { background-color: #78c850/*lightgreen*/ }
.fire-type-color { background-color: #f08030/*red*/ }
.water-type-color { background-color: #6890f0/*blue*/ }
.electric-type-color { background-color: #f8d030/*yellow*/ }
.normal-type-color { background-color: #a8a878/*silver*/ }
.flying-type-color { background-color: #a890f0/*skyblue*/ }
.bug-type-color { background-color: #a8b820/*orange*/ }
.poison-type-color { background-color: #a040a0/*purple*/ }
.ground-type-color { background-color: #e0c068/*khaki*/ }
.rock-type-color { background-color: #b8a038/*sandybrown*/ }
.ice-type-color { background-color: #98d8d8/*aqua*/ }
.dragon-type-color { background-color: #7038f8/*magenta*/ }
.ghost-type-color { background-color: #705898/*violet*/ }
.psychic-type-color { background-color: #f85888/*hotpink*/ }
.fighting-type-color { background-color: #c03028/*maroon*/ }
.dark-type-color { background-color: #705848/*black*/ }
.steel-type-color { background-color: #b8b8d0/*gray*/ }
.fairy-type-color { background-color: #ee99ac/*pink*/ }


hr { border: 2px solid #ccc; margin: 1em 0 }

.tabs {
	display: block;
	margin: 0 2em;
}

.tabs li {
	display: inline-block;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	padding: 0.2em 1em;
}

.tabs li.selected {
	background-color: #ccc;
}

.tab-targets {
	border-top: 1px solid #ccc;
}


.move-sections { display: flex; justify-content: center; }
.move-sections section { margin-right: 3em; }

.evo-line { display: flex; align-items: center; justify-content: center; }
.evo-arrow { display: flex; flex-direction: column; margin: 0.5em 2em; text-align: center }
.evo-col { display: flex; flex-direction: column }

.notes { margin-top: 1em; }

/* for displaying alt text in the centre of the image */
figure img { display: flex; align-items: center; justify-content: center; }

.stat-table input[type="number"] { width: 5em; }